/* navbar */
.clear { 
    clear: both; 
}
.nav_items{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navbar-nav{}
.navbar-nav .nav-item{
    padding-right: 10px;
}
.navbar-nav .nav-item .nav-link{
    color: #000 !important;
    font-size: 18px;
    font-weight: 600;
}


/* header_bg */
.header_bg{
    height: 100vh;
    padding-top: 150px;
    background-color: #fffbf0;
}
.header_left{

}
.header_left .penguin{
    color: #fabe4c;
    font-size: 50px;
    font-weight: 700;
}
.header_left .winter{
    color: #363958;
    font-size: 50px;
    font-weight: 700;
}
.buy_now{
    background-color: #91ab2a;
    color: #ffff;
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    opacity: 0.6;
}
.buy_now:hover{
    opacity: 1;
    transition: all .3s linear;
}
.header_left .lorem_text{
    text-transform: capitalize;
    color: #000;
}
.header_left button{}
.header_left button span{}

.header_right{
    position: relative;
    margin-left: 150px;
}
.header_right img{
    width: 300px;
}
.woman {
    top: -141px;
    position: absolute;
    left: 7px;
}
.woman img{
    width: 300px;
}

/* woman jacket */
.woman_jacket{
    margin: 80px 0px;
}
.jacket{
    text-transform: uppercase;
    font-weight: bold;
    color: #363958;
    padding-bottom: 50px;
}
.jacket_img{
 background-color: #f1f1f1;
 text-align: center;
 border-radius: 10px;
}
.single_jacket{
    padding: 8px;
    margin: 10px;
}
.single_jacket:hover{
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.45);
    border-radius: 10px;
    transition: all .5s linear;
}
.jacket_img img{
    /* height: 200px;
    width: 200px; */
}
.jacket_text{
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 15px;
}
.jacket_text h4{
    text-transform: capitalize;
    color: #363958;
}
.jacket_text p{
    text-transform: capitalize;
    line-height: 1;
}
.price_btn{
    padding-top: 5px;
}
.price_btn span{
    color: #fabe4c;
}
.price{
    font-size: 25px;
    font-weight: bold;
}
